<% layout( 'layout' ) -%>

<% script( '/bower_components/foundation/js/foundation.min.js' ) %>
<% script( '/bower_components/foundation/js/foundation/foundation.clearing.js' ) %>
<% block( 'scripts', '<script>$(document).foundation()</script>' ) %>

<main id="main-content">
  <div class="row" id="album">
    <div class="small-12 columns">
      <h2><%= album.name %></h2>
      <ul class="clearing-thumbs" data-clearing>
        <% for( var i = 0; i < album.photos.length; i++ ) { var photo = album.photos[ i ]; %>
          <li id="photo-<%= photo.id %>">
            <a href="<%= photo.source %>">
              <img src="<%= photo.picture %>" alt="<%= photo.name %>" />
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</main>
