<% layout( 'layout' ) -%>

<% var dateFormat = require( 'dateformat' ); %>

<main id="main-content">

  <div class="row" id="event">
    <div class="small-12 columns">
      <h2><%= event.name %></h2>
      <h3>
        <%= event.start_time.toDateString() %>
        <% if( !event.is_date_only ) { %> at <%= dateFormat( event.start_time, 'H:MM' ) %> <% } %>
      </h3>
      <p><strong>Location:</strong> <%= event.location %></p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 columns right">
      <img src="https://graph.facebook.com/<%= event.id %>/picture?type=large" />
    </div>
    <div class="small-12 large-6 columns">
      <p>
        <strong>
          <a href="http://www.facebook.com/event.php?eid=<%= event.id %>">
            Register on Facebook
          </a>
          or <a href="mailto:info@hackersatepfl.com?subject=Register for <%= event.name %>">by e-mail</a>
        </strong>
      </p>
      <p>
        <%- event.htmlDescription %>
      </p>
    </div>
  </div>

</main>
